* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background: linear-gradient(-90deg, rgb(241, 240, 238), rgb(162, 162, 162));
  justify-content: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
}
header {
  background: linear-gradient(135deg, #7d7c7c, #2b2b2b);
  display: flex;

  justify-content: space-around;
  align-items: center;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.6);
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  z-index: 1000;
}
header h1 {
  color: #d4af37;
  text-shadow: -2px -2px 2px #3a3939;
}
header a {
  color: #d4af37;
  list-style: none;
  text-decoration: none;
  margin: 1rem;
  text-shadow: -2px -2px 2px #3a3939;
}
a:hover {
  color: #efbd1a;
  transform: scale(1.05);
  transition: transform 0.2s ease;
}
.main-links {
  display: none;
}

.nav-links {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}
/* .nav-links.oculto {
  display: none;
} */
header img {
  margin: 1rem;
  border-radius: 8px;
  box-shadow: -2px -2px 2px #3a3939;
}
.icono-hamburguesa {
  display: none;
  cursor: pointer;
}
main {
  padding-top: 20vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.presentacion {
  display: flex;
  flex-direction: column;
  border-radius: 8px;
  align-items: baseline;
  /* background: linear-gradient(135deg, white, rgb(46, 55, 227)); */
  background-image: url("../../imagenes/coupe-1374441_1280.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

  width: 80%;
  height: 100%;
  object-fit: cover;
  color: white;
  font-size: 1.5rem;
  padding: 0.5rem;
  text-shadow: 2px 2px 2px black;
  border: 1px solid brown;

  padding: 2rem;

  opacity: 0;
  transform: translateX(600px);
  transition: all 0.8s ease-out;
}

.presentacion h3 {
  margin: 2rem;
}
.presentacion p {
  padding: 0.5rem;
}

/* .presentacion-container {
  width: 80%;
  max-width: 800px;
  opacity: 0;
  transform: translateX(600px);
  transition: all 0.8s ease-out;
} */

.sucursales {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #323131;
}
.sucursales h3 {
  margin: 4rem 1rem 3rem 1rem;
  color: #d4af37;
  font-size: 2rem;
  text-shadow: -2px -2px 2px #3a3939;
}
.sucursales img {
  max-width: 60vw;
  border-radius: 10px;
  margin: 2rem;
}
.sucursales figure {
  display: flex;
}
.sucursales figcaption {
  padding: 1rem;
  margin: 3rem 1rem;
  display: block;
  align-self: center;
  font-size: 1.2rem;
  color: #3a3939;
}

.mapa-container {
  width: 80%;
  max-width: 800px;
  opacity: 0;
  transform: translateX(600px);
  transition: all 0.8s ease-out;
}

.mapa-visible {
  opacity: 1;
  transform: translateX(0);
}
.presentacion-visible {
  opacity: 1;
  transform: translateX(0);
}

footer {
  background: linear-gradient(135deg, #7d7c7c, #2b2b2b);
  display: flex;
  flex-direction: column;
  align-items: center;
  color: rgb(231, 229, 229);
}
footer h3 {
  padding: 1rem;
  margin: 1rem;
}
.container-footer-redes {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  border-bottom: 1px solid rgb(170, 168, 168);
}
.container-footer-redes svg {
  margin-bottom: 1rem;
  border-bottom: 1px solid rgb(128, 126, 126);
}
.telefono-mail {
  display: flex;
  justify-content: center;
  align-items: center;
}
.telefono-mail img {
  width: 40px;
  margin: 1rem;
}
.telefono-mail p {
  display: inline;
}
.copy {
  border-top: 1px solid rgb(128, 126, 126);
  width: 100%;
  display: flex;
  justify-content: center;
}
@media (max-width: 768px) {
  header {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
  }

  /* header a {
    display: flex;
    flex-direction: column;
    justify-content: center;
    display: none;
  } */

  header h1 {
    margin: 0.5rem 0;
  }
  header img {
    margin: 1rem;
    border-radius: 8px;
    box-shadow: -2px -2px 2px #3a3939;
    width: 80px;
    align-self: center;
  }
  .nav-links {
    display: flex;
    flex-direction: column;
    align-items: start;
  }
  .oculto {
    display: none;
  }

  .icono-hamburguesa {
    display: block;
    align-self: flex-start;
  }
  .main-links {
    margin-top: 0;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    margin-bottom: 2rem;
  }
  .main-links a {
    /* background-color: #d4af37; */
    color: #2b2b2b;
    list-style: none;
    text-decoration: none;
    width: 90vw;
    padding: 0.3rem;
    border: 1px solid black;
    border-bottom: 1px solid black;
    box-shadow: 3px 3px 3px rgb(105, 105, 105);
    margin: 0.4rem;
    align-self: flex-start;
    border-radius: 3px;
    /* display: none; */
  }
  .main-links.oculto {
    display: none;
  }

  main {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
  }
  /* .nav-links.oculto {
    display: none;
  } */
  .presentacion {
    display: flex;
    flex-direction: column;
    border-radius: 8px;
    align-items: flex-start;
    background: linear-gradient(135deg, white, rgb(46, 55, 227));
    width: 95%;
    padding: 2rem;
    opacity: 1;
    transform: translateX(0px);
    transition: all 0.8s ease-out;
  }

  .sucursales {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #bdbcbc;
  }
  .sucursales figure {
    display: flex;
    flex-direction: column;
  }
  .sucursales figcaption {
    padding: 1rem;
    margin: 1rem 1rem;
    display: block;
    align-self: flex-start;
    font-size: 1.2rem;
  }
  .sucursales img {
    max-width: 95vw;
    border-radius: 10px;
  }

  .mapa-container {
    max-width: 100%;
    opacity: 0;
    transform: translateX(10px);
    transition: all 0.8s ease-out;
  }
  .mapa-container iframe {
    width: 100%;
  }
  .mapa-visible {
    opacity: 1;
    transform: translateX(0);
  }
  footer {
    background: linear-gradient(135deg, #7d7c7c, #2b2b2b);
    display: flex;
    flex-direction: column;
    align-items: center;
    color: rgb(231, 229, 229);
    height: 100%;
  }

  footer h3 {
    padding: 1rem;
    margin: 1rem;
  }
  .container-footer-redes {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    border-bottom: 1px solid rgb(170, 168, 168);
  }
  .container-footer-redes svg {
    margin-bottom: 1rem;
    border-bottom: 1px solid rgb(128, 126, 126);
  }
  .telefono-mail {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .telefono-mail img {
    width: 40px;
    margin: 1rem;
  }
  .telefono-mail p {
    display: inline;
  }
  .copy {
    border-top: 1px solid rgb(128, 126, 126);
    width: 100%;
    display: flex;
    justify-content: center;
  }
}
@media (max-width: 376px) {
  .main {
    width: 100%;
  }
  header {
    /* position: relative; */
    display: flex;
    flex-direction: row;
    justify-content: center;
    max-width: 100%;
    padding: 1rem 0.2rem;
  }

  header h1 {
    margin: 0;
    font-size: 1rem;
  }
  header img {
    margin: 0;
    border-radius: 8px;
    box-shadow: -2px -2px 2px #3a3939;
    width: 35px;
    align-self: center;
  }

  .icono-hamburguesa {
    display: block;
    cursor: pointer;
    width: 35px;
    margin: 0;
  }

  footer {
    background: linear-gradient(135deg, #7d7c7c, #2b2b2b);
    display: flex;
    flex-direction: column;
    align-items: center;
    color: rgb(231, 229, 229);
    height: 100%;
  }
  footer h3 {
    padding: 1rem;
    margin: 1rem;
  }
  .container-footer-redes {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    border-bottom: 1px solid rgb(170, 168, 168);
  }
  .container-footer-redes svg {
    margin-bottom: 1rem;
    border-bottom: 1px solid rgb(128, 126, 126);
  }
  .telefono-mail {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .telefono-mail img {
    width: 25px;
    margin: 0.5rem;
  }
  .telefono-mail p {
    display: inline;
    font-size: 0.6rem;
  }
  .copy {
    border-top: 1px solid rgb(128, 126, 126);
    width: 100%;
    display: flex;
    justify-content: center;
  }
  .copy p {
    font-size: 0.7rem;
  }
}
