* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background: linear-gradient(135deg, #f5f5f5, #c4c2c2) #f5f5f5;
}
header {
  background: linear-gradient(135deg, #7d7c7c, #2b2b2b);
  display: flex;
  justify-content: space-around;
  align-items: center;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.6);
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  z-index: 1000;
}
header h1 {
  color: #d4af37;
  text-shadow: -2px -2px 2px #3a3939;
}
header a {
  color: #d4af37;
  list-style: none;
  text-decoration: none;
  margin: 1rem;
  text-shadow: -2px -2px 2px #3a3939;
}
a:hover {
  color: #efbd1a;
  transform: scale(1.05);
  transition: transform 0.2s ease;
}
header img.icono-hamburguesa {
  display: none;
}
.main-links {
  display: none;
}

.nav-links {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header img {
  margin: 1rem;
  border-radius: 8px;
  box-shadow: -2px -2px 2px #3a3939;
}
main {
  margin-top: 20vh;
  margin-bottom: 2rem;
}
main h2 {
  margin: 1.2rem;
}
.contenedor {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 1rem;
}
.tarjeta {
  background: white;
  border-radius: 12px;
  padding: 1rem;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  text-align: center;
}
.tarjeta img {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  object-fit: cover;
  margin-bottom: 0.5rem;
}
.estrellas {
  color: gold;
  margin: 0.3rem 0;
}
.tiempo {
  color: #666;
  font-size: 0.9rem;
}
footer {
  background: linear-gradient(135deg, #7d7c7c, #2b2b2b);
  display: flex;
  flex-direction: column;
  align-items: center;
  color: rgb(231, 229, 229);
}
footer h3 {
  padding: 1rem;
  margin: 1rem;
}
.container-footer-redes {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  border-bottom: 1px solid rgb(170, 168, 168);
}
.container-footer-redes svg {
  margin-bottom: 1rem;
  border-bottom: 1px solid rgb(128, 126, 126);
}
.telefono-mail {
  display: flex;
  justify-content: center;
  align-items: center;
}
.telefono-mail img {
  width: 40px;
  margin: 1rem;
}
.telefono-mail p {
  display: inline;
}
.copy {
  border-top: 1px solid rgb(128, 126, 126);
  width: 100%;
  display: flex;
  justify-content: center;
}
/* media */
@media (max-width: 768px) {
  header img.icono-hamburguesa {
    display: block;
  }
  .nav-links {
    display: none;
  }
  .oculto {
    display: none;
  }

  .icono-hamburguesa {
    display: block;
    align-self: flex-start;
  }
  .main-links {
    margin-top: 0;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    margin-bottom: 2rem;
    /* background-color: #dbcb6f; */
  }
  .main-links a {
    /* background-color: #d4af37; */
    color: #2b2b2b;
    list-style: none;
    text-decoration: none;
    width: 90%;
    padding: 0.3rem;
    /* border: 1px solid black; */
    background-color: #dbcb6f;

    box-shadow: 0px 3px 3px rgb(105, 105, 105);
    padding: 0.4 rem 0.2rem;
    margin: 1 rem;
    align-self: center;
    border-radius: 3px;

    /* display: none; */
  }
  .main-links.oculto {
    display: none;
  }
}

@media (max-width: 376px) {
  header {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
  }
  header h1 {
    font-size: 1.2rem;
    padding: 0;
    margin: 0;
  }
  header img.logo {
    border-radius: 8px;
    box-shadow: -2px -2px 2px #3a3939;
    width: 35px;
    margin: 0;
  }
  header img.icono-hamburguesa {
    width: 35px;
    margin: 16px;
  }
  .tarjeta {
    background: white;
    border-radius: 12px;
    padding: 1rem;
    /* box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1); */
    text-align: center;
  }
  footer {
    background: linear-gradient(135deg, #7d7c7c, #2b2b2b);
    display: flex;
    flex-direction: column;
    align-items: center;
    color: rgb(231, 229, 229);
    height: 100%;
  }
  footer h3 {
    padding: 1rem;
    margin: 1rem;
  }
  .container-footer-redes {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    border-bottom: 1px solid rgb(170, 168, 168);
  }
  .container-footer-redes svg {
    margin-bottom: 1rem;
    border-bottom: 1px solid rgb(128, 126, 126);
  }
  .telefono-mail {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .telefono-mail img {
    width: 25px;
    margin: 0.5rem;
  }
  .telefono-mail p {
    display: inline;
  }
  .copy {
    border-top: 1px solid rgb(128, 126, 126);
    width: 100%;
    display: flex;
    justify-content: center;
  }
}
