* {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-image: url("../../imagenes/mercedes2.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
header {
  background: linear-gradient(135deg, #7d7c7c, #2b2b2b);
  display: flex;
  justify-content: space-around;
  align-items: center;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.6);
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  z-index: 1000;
}
header h1 {
  color: #d4af37;
  text-shadow: -2px -2px 2px #3a3939;
}
header a {
  color: #d4af37;
  list-style: none;
  text-decoration: none;
  margin: 1rem;
  text-shadow: -2px -2px 2px #3a3939;
}
a:hover {
  color: #efbd1a;
  transform: scale(1.05);
  transition: transform 0.2s ease;
}
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header img {
  margin: 1rem;
  border-radius: 8px;
}
main {
  margin-top: 30vh;
  display: flex;
  justify-content: center;
}
form {
  background-color: rgb(8, 8, 8, 0.6);
  display: flex;
  min-width: 70%;
  border-radius: 8px;
  flex-direction: column;
  padding: 2rem;
  justify-content: center;
  margin-bottom: 3rem;
}
form input {
  margin: 1rem 5rem;
  padding: 0.5rem;
  border-radius: 8px;
}
form textarea {
  margin: 1rem 5rem;
  padding: 0.5rem;
  border-radius: 8px;
}
footer {
  width: 100%;
  background-color: #7d7c7c;
  color: white;
}
form label {
  color: white;
  text-align: center;
}
form button {
  background-color: #efbd1a;
  padding: 1rem;
  margin: 1rem;
  font-size: 1.3rem;
  width: 30%;
  align-self: center;
  border-radius: 8px;
}
form button:hover {
  transform: scale(1.05);
  transition: transform 0.2s ease;
  background-color: #e0ad07;
}
footer {
  background: linear-gradient(135deg, #7d7c7c, #2b2b2b);
  display: flex;
  flex-direction: column;
  align-items: center;
  color: rgb(231, 229, 229);
}
footer h3 {
  padding: 1rem;
  margin: 1rem;
}
.container-footer-redes {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  border-bottom: 1px solid rgb(170, 168, 168);
}
.container-footer-redes svg {
  margin-bottom: 1rem;
  border-bottom: 1px solid rgb(128, 126, 126);
}
.telefono-mail {
  display: flex;
  justify-content: center;
  align-items: center;
}
.telefono-mail img {
  width: 40px;
  margin: 1rem;
}
.telefono-mail p {
  display: inline;
}
.copy {
  border-top: 1px solid rgb(128, 126, 126);
  width: 100%;
  display: flex;
  justify-content: center;
}
