* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap");
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  font-family: outfit, Verdana, Geneva, Tahoma, sans-serif;
  /* background-image: url("../../imagenes/concesionaria1.jpeg"); */
  justify-content: center;
  background-repeat: no-repeat;
  object-fit: cover;
  overflow-x: hidden;
  /* background-color: #cbc3a5; */
}

header {
  background: linear-gradient(135deg, #7d7c7c, #2b2b2b);
  display: flex;

  justify-content: space-around;
  align-items: center;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.6);
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  z-index: 1000;
}
header h1 {
  color: #d4af37;
  text-shadow: -2px -2px 2px #3a3939;
}
header a {
  color: #d4af37;
  list-style: none;
  text-decoration: none;
  margin: 1rem;
  text-shadow: -2px -2px 2px #3a3939;
}
a:hover {
  color: #efbd1a;
  transform: scale(1.05);
  transition: transform 0.2s ease;
}

.nav-links {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}
header img {
  margin: 1rem;
  border-radius: 8px;
  box-shadow: -2px -2px 2px #3a3939;
  max-width: 50px;
}
.icono-hamburguesa {
  display: none;
}

body {
  background: linear-gradient(to left, rgb(173, 172, 172), rgb(227, 227, 227));
}
.seccion-marcas {
  width: 100vw;
  min-height: 40vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20vh;
  margin-bottom: 5vh;
}
.form-marcas {
  /* background: linear-gradient(deg90, black, grey); */
  background: linear-gradient(to right, rgb(173, 172, 172), rgb(227, 227, 227));

  display: flex;
  align-items: center;
  justify-content: space-evenly;
  gap: 5px;
  width: 60vw;
  border: none;
  padding: 2rem;
}
input {
  font-size: 1.3rem;
  border-radius: 5px;
  padding: 0.3rem;
  width: 60%;
}
button {
  font-size: 1.2rem;
  padding: 0.3rem;
  line-height: 1.5rem;
  background-color: rgb(164, 164, 250);
  border: none;
  width: 30%;
  align-self: center;
}
button:hover {
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.2);
}
.seccion-card {
  margin-top: 5vh;
}

.card {
  width: 100vw;
  margin-left: 1rem;
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}
.card > p {
  /* border: 1px solid black; */
  padding: 1.5rem;
  background-color: #efbd1a;
  border-radius: 50%;
  transition: transform 0.3s ease;
}
.card > p:hover {
  transform: scale(1.1);
  background-color: #daab0f;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.2);
  color: white;
}
footer {
  background: linear-gradient(135deg, #7d7c7c, #2b2b2b);
  display: flex;
  flex-direction: column;
  align-items: center;
  color: rgb(231, 229, 229);
}
footer h3 {
  padding: 1rem;
  margin: 1rem;
}
.container-footer-redes {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  border-bottom: 1px solid rgb(170, 168, 168);
}
.container-footer-redes svg {
  margin-bottom: 1rem;
  border-bottom: 1px solid rgb(128, 126, 126);
}
.telefono-mail {
  display: flex;
  justify-content: center;
  align-items: center;
}
.telefono-mail img {
  width: 40px;
  margin: 1rem;
}
.telefono-mail p {
  display: inline;
}
.copy {
  border-top: 1px solid rgb(128, 126, 126);
  width: 100%;
  display: flex;
  justify-content: center;
}
/* media nuevos */
@media (max-width: 768px) {
  header {
    background: linear-gradient(135deg, #7d7c7c, #2b2b2b);
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.6);
    position: fixed;
    flex-wrap: wrap;
    top: 0;
    left: 0;
    width: 100vw;
    z-index: 1000;
  }
  header img.logo {
    width: 35px;
  }
  header img.icono-hamburguesa {
    display: block;
    cursor: pointer;
    width: 35px;
  }
  header h1 {
    /* margin: 0.5rem 0; */
    font-size: 1em;
  }
  header img {
    /* margin: 0.5rem; */
    border-radius: 8px;
    box-shadow: -2px -2px 2px #3a3939;
    width: 50px;
    align-self: center;
  }

  .icono-hamburguesa {
    display: block;
    align-self: flex-start;
  }
  .nav-links {
    display: none;
  }
  .main-links {
    margin-top: 0;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    margin-bottom: 2rem;
  }
  .main-links a {
    /* background-color: #d4af37; */
    color: white;
    list-style: none;
    text-decoration: none;
    width: 90%;
    padding: 0.3rem;
    border-bottom: 1px solid white;

    padding: 0.4 rem 0.2rem;
    margin: 1 rem;
    align-self: center;
  }
  .main-links.oculto {
    display: none;
  }
}

@media (max-width: 320px) {
  header {
    display: flex;
    justify-content: center;
    max-width: 100%;
    padding: 1rem 0.1rem;
  }

  header > a > h1 {
    font-size: 1rem;
    padding: 0;
    margin: 0;
  }
  header img.logo {
    border-radius: 8px;
    box-shadow: -2px -2px 2px #3a3939;
    width: 35px;
    margin: 0;
  }

  header svg.icono-hamburguesa {
    display: block;
    cursor: pointer;
    margin: 0;
    /* padding-top: 2rem; */
    /* width: 40px; */
  }

  footer {
    background: linear-gradient(135deg, #7d7c7c, #2b2b2b);
    display: flex;
    flex-direction: column;
    align-items: center;
    color: rgb(231, 229, 229);
    height: 100%;
  }
  footer h3 {
    padding: 1rem;
    margin: 1rem;
  }
  .container-footer-redes {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    border-bottom: 1px solid rgb(170, 168, 168);
  }
  .container-footer-redes svg {
    margin-bottom: 1rem;
    border-bottom: 1px solid rgb(128, 126, 126);
  }
  .telefono-mail {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .telefono-mail img {
    width: 25px;
    margin: 0.5rem;
  }
  .telefono-mail p {
    display: inline;
    font-size: 0.9rem;
  }
  .copy {
    border-top: 1px solid rgb(128, 126, 126);
    width: 100%;
    display: flex;
    justify-content: center;
  }
}
@media (max-width: 376px) {
  header {
    display: flex;
    justify-content: center;
    max-width: 375px;
  }

  header h1 {
    font-size: 1em;
  }
  header img.logo {
    border-radius: 8px;
    box-shadow: -2px -2px 2px #3a3939;
    width: 35px;
  }

  header svg.icono-hamburguesa {
    display: flex;
    align-self: center;
    cursor: pointer;
    /* width: 35px; */
  }

  footer {
    background: linear-gradient(135deg, #7d7c7c, #2b2b2b);
    display: flex;
    flex-direction: column;
    align-items: center;
    color: rgb(231, 229, 229);
    height: 100%;
  }
  footer h3 {
    padding: 1rem;
    margin: 1rem;
  }
  .container-footer-redes {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    border-bottom: 1px solid rgb(170, 168, 168);
  }
  .container-footer-redes svg {
    margin-bottom: 1rem;
    border-bottom: 1px solid rgb(128, 126, 126);
  }
  .telefono-mail {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .telefono-mail img {
    width: 25px;
    margin: 0.5rem;
  }
  .telefono-mail p {
    display: inline;
  }
  .copy {
    border-top: 1px solid rgb(128, 126, 126);
    width: 100%;
    display: flex;
    justify-content: center;
  }
}
@media (max-width: 768px) {
  header {
    /* position: relative; */
    display: flex;
    justify-content: space-between;
    max-width: 768px;
  }

  header h1 {
    /* margin: 0.5rem 0; */
    font-size: 1.5em;
  }
  header img {
    /* margin: 0.5rem; */
    border-radius: 8px;
    box-shadow: -2px -2px 2px #3a3939;
    width: 60px;
    align-self: center;
  }

  header svg.icono-hamburguesa {
    display: block;
    cursor: pointer;
    align-self: center;

    /* width: 40px; */
  }

  footer {
    background: linear-gradient(135deg, #7d7c7c, #2b2b2b);
    display: flex;
    flex-direction: column;
    align-items: center;
    color: rgb(231, 229, 229);
    height: 100%;
  }
  footer h3 {
    padding: 1rem;
    margin: 1rem;
  }
  .container-footer-redes {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    border-bottom: 1px solid rgb(170, 168, 168);
  }
  .container-footer-redes svg {
    margin-bottom: 1rem;
    border-bottom: 1px solid rgb(128, 126, 126);
  }
  .telefono-mail {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .telefono-mail img {
    width: 25px;
    margin: 0.5rem;
  }
  .telefono-mail p {
    display: inline;
  }
  .copy {
    border-top: 1px solid rgb(128, 126, 126);
    width: 100%;
    display: flex;
    justify-content: center;
  }
}
@media (max-width: 1025px) {
}
