* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  /* background-image: url("../../imagenes/concesionaria1.jpeg"); */
  justify-content: center;
  background-repeat: no-repeat;
  object-fit: cover;
  /* background-color: #cbc3a5; */
}
/* inicio de la sección de cabecera */

header {
  display: grid;
  grid-template-columns: auto 1fr auto;
  align-items: center;
  padding: 0.5rem 1rem;
  background: linear-gradient(135deg, #7d7c7c, #2b2b2b);
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.6);
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  z-index: 1000;
  gap: 1rem;
}
header h1 {
  color: #d4af37;
  text-shadow: -2px -2px 2px #3a3939;
}
header a {
  color: #d4af37;
  list-style: none;
  text-decoration: none;
  margin: 1rem;
  text-shadow: -2px -2px 2px #3a3939;
}
a:hover {
  color: #efbd1a;
  transform: scale(1.05);
  transition: transform 0.2s ease;
}
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header img {
  margin: 1rem;
  border-radius: 8px;
  box-shadow: -2px -2px 2px #3a3939;
}
/*final de header*/

main {
  height: 100%;
  display: flex;

  background-image: url("../../imagenes/concesionaria1.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  align-items: center;
}

aside {
  position: relative;
  margin: 19vh 0 0.5rem 0;
  background-color: #d4af37;

  min-width: 20vw;

  max-height: 100%;
}

.conteiner-aside {
  display: flex;
  flex-direction: column;
  margin: 2rem;
  justify-content: space-between;
}
.conteiner-aside select {
  margin-bottom: 1rem;
  padding: 0.3rem;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  box-shadow: -2px -2px 2px #3a3939;
}
.conteiner-aside label {
  margin-bottom: 0.2rem;
}
.conteiner-aside a {
  color: black;
  list-style: none;
  text-decoration: none;
  border: 1px solid black;
  border-radius: 3px;
  text-align: center;
  margin-bottom: 0.7rem;
  padding: 0.2rem;
  box-shadow: -2px -2px 2px #3a3939;
}
.section-tarjeta {
  margin-top: 30vh;
  display: flex;
  justify-content: center;
}

.container-card {
  background-color: rgb(8, 8, 8, 0.6);
  max-width: 70%;
  display: grid;
  grid-template-columns: auto auto;
  color: white;
  border-radius: 12px;
}
.container-card img {
  max-height: 300px;
  border-radius: 8px;
  margin: 1rem;
}
.card-text {
  display: grid;
  grid-template-rows: 25% auto;
}
.container-card h4 {
  /* display: block; */
  text-align: center;
  padding: 1rem;
  margin: 1rem;
}

.container-card p {
  padding: 2.5 rem 0.2rem;
  margin: 1.5rem;
}

footer {
  background: linear-gradient(135deg, #7d7c7c, #2b2b2b);
  display: flex;
  flex-direction: column;
  align-items: center;
  color: rgb(231, 229, 229);
}
footer h3 {
  padding: 1rem;
  margin: 1rem;
}
.container-footer-redes {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  border-bottom: 1px solid rgb(170, 168, 168);
}
.container-footer-redes svg {
  margin-bottom: 1rem;
  border-bottom: 1px solid rgb(128, 126, 126);
}
.telefono-mail {
  display: flex;
  justify-content: center;
  align-items: center;
}
.telefono-mail img {
  width: 40px;
  margin: 1rem;
}
.telefono-mail p {
  display: inline;
}
.copy {
  border-top: 1px solid rgb(128, 126, 126);
  width: 100%;
  display: flex;
  justify-content: center;
}

@media (max-width: 768px) {
  header {
    /* grid-template-columns: 1fr;
    text-align: center;*/
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  /* header a {
    display: flex;
    flex-direction: column;
    justify-content: center;
    display: none;
  } */

  header h1 {
    margin: 0.5rem 0;
  }
  header img {
    margin: 1rem;
    border-radius: 8px;
    box-shadow: -2px -2px 2px #3a3939;
    width: 80px;
    align-self: center;
  }
  nav {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  nav a {
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    margin: 0.2rem;
  }
  main {
    height: 100%;
    display: flex;
    flex-direction: column;

    background-image: url("../../imagenes/concesionaria1.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    align-items: center;
  }
  aside {
    /* position: relative; */
    margin-top: 0.1vh;
    background-color: #d4af37;
    width: 100%;
  }
  .conteiner-aside {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  .section-tarjeta {
    /* margin-top: 30vh; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .container-card {
    position: relative;
    background-color: rgb(8, 8, 8, 0.6);
    max-width: 100%;
    max-height: 100%;
    color: white;
    /* border-radius: 12px; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 5rem;
    margin-top: 0.1rem;
  }

  footer {
    background: linear-gradient(135deg, #7d7c7c, #2b2b2b);
    display: flex;
    flex-direction: column;
    align-items: center;
    color: rgb(231, 229, 229);
    height: 100%;
  }
  footer h3 {
    padding: 1rem;
    margin: 1rem;
  }
  .container-footer-redes {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    border-bottom: 1px solid rgb(170, 168, 168);
  }
  .container-footer-redes svg {
    margin-bottom: 1rem;
    border-bottom: 1px solid rgb(128, 126, 126);
  }
  .telefono-mail {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .telefono-mail img {
    width: 40px;
    margin: 1rem;
  }
  .telefono-mail p {
    display: inline;
  }
  .copy {
    border-top: 1px solid rgb(128, 126, 126);
    width: 100%;
    display: flex;
    justify-content: center;
  }
}
